.App {
  background-color: #282c34;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  align-items: center;
  justify-content: center;
  color: #000;
}

.App-link {
  color: #61dafb;
}

