.erro{
    color: #fff;
    margin-top: 100px;

}
.acessarhome{
    color: rgb(45, 172, 204);
    font-weight: bold;
    text-decoration: none;
    background-color: aquamarine;
    padding: 5px;
    margin: 5px;
}